.container {
    min-height: 10vh;
    display: grid;
    place-items: center;
    padding-bottom: 60px;
    /* background: linear-gradient(black,black) url('https://picsum.photos/600/400'); */
    background: url('https://picsum.photos/600/400') no-repeat;
    /* background: url('https://lipsum.app/600/400') no-repeat; */
    background-size: cover;
}

.content {
    margin:0; padding:0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform:lowercase;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.container .content {
    text-align: center;
}

.container .content h4 {
    font-size: 10px;
    color: whitesmoke;
    background: darkcyan;
    padding: 5px 0;
}

.container .content button {
    font-family:Arial, Helvetica, sans-serif;
    font-size: 18px;
    cursor:pointer;
    height: 40px; 
    width: 150px;
    padding: 5px 0; 
    background-color: gold;
    border-radius: 20px;    /* Adjust corner roundness */
    border: none;
}

.gallery img {
    vertical-align: top;
    width: 180px;
    height: auto;
    margin: 10px;
    border-radius: 10px;
}